/*h1 {*/
/*    font-family: "Baron Neue", sans-serif;*/
/*    font-weight: bold;*/
/*    font-style: normal;*/
/*}*/

.navbar-brand {
    width: 150px;
    content: url("../static/img/logo.png");
    position: absolute;

}

@media screen and (max-width: 992px) {
    .navbar-brand {
        width: 40px;
        content: url("../static/img/logo-min.png");
        position: absolute;
        margin-left: 0;
    }
}